            <div class="cart-item">
                <img src="{{product_img}}" alt="product" />
                <div>
                    <div>
                        <div class="name">{{product_name}}g</div>
                        <div class="price"><span>{{price}}</span></div>
                    </div>
                </div>
            </div>