<html lang='en'>

<head>
  <meta charset='UTF-8' />
  <meta http-equiv='X-UA-Compatible' content='IE=edge' />
  <meta name='viewport' content='width=device-width, initial-scale=1.0' />
  <title>My Project Name</title>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <link rel="stylesheet" type="text/css"
    href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://kit.fontawesome.com/91ed65ac39.js" crossorigin="anonymous"></script>
</head>

<body>
  {{! this is the main html file wrapper for all your views }}
  <nav>
    <h1 class="nav-header">OldEgg</h1>
    <div class="search-box">
      <i class="fa fa-search" aria-hidden="true"></i>
      <input type="text" id="searchText" placeholder="Search product..." name="">
    </div>

    <div class="nav-options">
      <a href="/">Home <img src="../images/icons/navbar/akar-icons_home.png" alt="home-button icon">
        {{#if logged_in}}
        <a id="logout-btn">Logout <img src="../images/icons/navbar/ri_logout-circle-line.png" alt="logout icon"></a>
        <a href="/cart">Cart {{cartProdLength}}<img src="../images/icons/navbar/cart-nav-icon.png" alt="cart icon"></a>
        <a href="/wishlist">Wish List <img src="../images/icons/navbar/akar-icons_heart.png" src="wishlist icon"></a>
        {{else}}
        <a id="login-btn" href="/login">Login <img src="../images/icons/navbar/login-icon.png" alt="login icon"></a>
        {{/if}}
    </div>
  </nav>

  {{! placeholder for where the view will be injected }}
  <section id="section-input">
    {{{body}}}
  </section>

  <footer id="footer">THIS IS A FOOTER</footer>
  {{! placeholder for where the view will be injected }}
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
  <script src="/js/addToCart.js"></script>
  <script src="/js/search.js"></script>
</body>

</html>