<section id="cart-container">
    <div class="cart-item">
        <div class="cart-item-image"></div>
        <div class="cart-item-desc">
            <h1>Title</h1>
            <hr>
            <p>Category:</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro, at asperiores deserunt mollitia sunt eos sapiente ratione harum illo amet facere unde. Saepe delectus minus labore minima pariatur necessitatibus sunt.</p>
            <p>Price:</p>
            <p>Stock:</p>
            <p>Quantity to Buy</p>
        </div>
        <div class="cart-item-options">
            <button id="cart-item-delete">Delete</button>
            <button>Save to Wish List</button>
        </div>
    </div>
</section>