
        {{!-- <h2>GPUs</h2>
        <div class="products-card-list">
            <div class="product-card">
                <img src="../images/products/gpuProduct1.jpeg" alt="" class="card-image">
                <div class="card-product-details">
                    <div class="product-title">
                        <h4>ASUS TUF Gaming GeForce RTX 3070 Ti 8GB GDDR6X PCI Express 4.0</h4>
                    </div>
                    <p class="card-price">$699.00</p>
                </div>
            </div> --}}
            {{!-- duplicate card for placeholder --}}

        {{!-- FOR EACH PARTIAL --}}
    <h1 class="categories-page-title">{{categories.category_name}}</h1>
    <div class="categories-page-container">            
        {{!-- Categories title --}}
        {{#each categories.products}}
        {{> category-details}}
        {{/each}}
    </div>
                    
