{{#if logged_in}}
<section id="checkout-container">
    <div class="btn-msg-container">
        <button id="payment-checkout-btn">Checkout</button>
    </div>
</section>
<script src="/js/checkoutFromCart.js"></script>
{{/if}}