<h1>WELCOME TO HOME PAGE!</h1>
<a href='/login'>GO TO LOGIN PAGE</a>
<a href='/portal'>GO TO PORTAL PAGE</a>
<a href='/signup'>GO TO SIGNUP PAGE</a>



<div class="home-container">
    <div class="hero-image-container">
        <img class = "hero-image" src="../images/home/PC-hardware-hero.png" alt="heroimage" class="hero-image-background">
    </div>
    <h1 class="home-heading">Categories</h1>
    <div class="category-container">
    <button class="btn">Monitors</button>
    <button class="btn">GPU</button>
    <button class="btn">Computer Cases</button>
    <button class="btn">Motherboards</button>
    <button class="btn">Memory</button>
    <button class="btn">CPU</button>
    </div>
</div>





