{{!-- Homepage Container --}}
<div class="home-container">
    {{!-- hero image container --}}
    <div class="hero-image-container">
        <img class = "hero-image" src="../images/home/PC-hardware-hero.png" alt="heroimage" class="hero-image-background">
    </div>
    <h1 class="home-heading">Categories</h1>
    {{!-- container for catagory buttons --}}
    <div class="category-container">
    <button class="btn">Monitors</button>
    <button class="btn">GPU</button>
    <button class="btn">Computer Cases</button>
    <button class="btn">Motherboards</button>
    <button class="btn">Memory</button>
    <button class="btn">CPU</button>
    </div>
</div>

<script src="./js/search.js"></script>



