<h1 class="searchResults-heading"> Search Results </h1>

<div class="serchResults-page-container">
    <div class="sr-list">
        {{#each products}}
        {{> search-details}}
        {{/each}}
    </div>
</div>

