<div class="product-page-container">
    <div class="product-page-item">
        <div class="product-image-container">
            <img class= "product-image" src="../images/products/gpuProduct1.jpeg" alt="productImage" class="product-image">
        </div>
        <div class="product-details">
            <h2>ASUS TUF Gaming GeForce RTX 3070 Ti 8GB GDDR6X PCI Express 4.0</h2>
            <p class="category-title">GPU</p>
            <p class="product-description">8GB 256-Bit GDDR6X</p>
            <p class="product-price">699.0</p>
            <p class="product-stock">8</p>
            <div class="cart-buttons">
                <button class="alt-btn">Add to Cart  <img class = "add-cart-svg" src="../images/icons/productpage/addtocart-icon.png" alt="" class="cart-image"></button>
            </div>
        </div>
    </div>
</div>
