header, .project:not(:last-child) {
  border-bottom: 1px solid #ccc;
}

* {
  background-color: #F0F2F4;  
  box-sizing: border-box;
  margin: 0;
  max-width: 100%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.invalid-auth {
  color: darkred;
}

#login-container {
  height: 50vh;
  width: 20vw;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: .5em;
  background-color: white;
}

.login-header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 2.5rem;
  border-radius: 20px;
  background-color: inherit;
}

.login-header h1 {
  font-size: 2.75rem;
  margin: .25em;
  background-color: inherit;
}

.login-header p {
  font-size: 1rem;
  background-color: inherit;
}

#login-form {
  display: inherit;
  flex-direction: inherit;
  background-color: inherit;
}

.form-group {
  margin: 1em;
  display: inherit;
  flex-direction: inherit;
  background-color: inherit;
  font-weight: bolder;
}

.form-group label {
  background-color: inherit;
}

.form-group input {
  margin: .25em 0 .25em 0;
  height: 4vh;
  width: 20vw;
  border: .1px solid rgb(180, 180, 180);
  border-radius: 5px;
  padding: 0 1em 0 1em;
  background-color: inherit;
}

.form-group button {
  height: 5vh;
  border: .1px solid rgb(180, 180, 180);
  background-color: black;
  border-radius: 5px;
  color: white;
}

#signup-container {
  height: 80vh;
  width: 25vw;
  background-color: #D9D9D9;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: .5em;
  align-self: center;
}

#signup-form {
  display: inherit;
  flex-direction: inherit;
}

/* Home Page */
.btn {
  box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
	background-color:#ffffff;
	border-radius:12px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:black;
	font-family:Arial;
	font-size:24px;
	font-weight:bold;
	padding:10px 38px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}

.hero-image-container {
  height: 50%;
  position:relative;
  width: 100%;
}

.hero-image {
  height: 100%;
  object-fit: contain;
  width: 100%;
}

.category-container {
  display: flex;
  gap: 5px;
  height: fit-content;
  justify-content: center;
  justify-items: center;
  padding: 5px;
}


/*NAVBAR*/
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 3em;
  width: 100vw;
}

.nav-header {
  font-size: 3rem;
}

.search-box {
  width: 500px;
	height: 50px;
	background-color: #F0F2F4;
	border-radius: 30px;
	display: flex;
	align-items: center;
	padding: 20px;
}

.search-box i {
  font-size: 20px;
	color: black;
  background-color: white;
  margin-right: .5em;
}

.search-box input {
  background-color: white;
  flex: 1;
	height: 40px;
	border: none;
	outline: none;
	font-size: 18px;
	padding-left: 10px;
}

.nav-options {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-options a {
  margin-left: 1em;
  margin-right: 1em;
  text-decoration: none;
  color: black;
  font-weight: 600;
  font-size: 1.5rem;
}


=======
/* Single Product Page */
.product-page-container {
  align-items: center;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
}

.product-page-item {
  display: flex;
  gap: 3rem;
  padding: 1rem 5rem 3rem;
}

.product-image {
  height: 30rem;
  background-color: white;
}

.product-image-container {
  background-color: white;
  box-shadow: 0 0 1px rgb(48 48 48 / 54%);
}

.product-details {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  max-width: 40rem;
  min-height: 100%;
  padding: 0 1rem;
  width: fit-content;
}

.product-details h2 {
  font-size: 2rem;
}

/* creates line seperating title and details */
.product-details hr {
  width: 100%;
}

hr {
  border-bottom: 0;
  margin-bottom: 0;
  margin-top: 0;
}

.product-details p {
  display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-size: 1.5rem;
    line-height: 1.5rem;
}

.product-details b {
  color: #cc4100;
  font-size: larger;
}

.cart-buttons {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.alt-btn {
  border-radius: 10px;
  box-shadow: 0px 1px 3px #666666 ;
  color: white;
  font-size: 24px;
  background: black;
  padding: 20px 40px 20px 40px;
  text-decoration: none;
  cursor: pointer;
}

.add-cart-svg {
  background-color: black;
}



/* categories page */


.products-card-list {
  display: flex;
  place-content: flex-start;
  flex-wrap: wrap;
  gap: 3rem;
  justify-content: space-evenly;
  justify-items: center;
  width: 100%;
}

.product-card {
  height: 20rem;
  width: 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 0 1px rgb(48 48 48 / 54%) ;
}

.product-card img {
  height: 20rem;
  background-color: white;
}

.product-title h4 {
  font-size: 1rem;
}

.card-product-details {
  color: black;
  box-shadow: 0 0 1px rgb(48 48 48 / 54%);
  width: 100%;
  padding: 0 2rem;
}

