/* Lexend imported font */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
/* font-family: 'Montserrat', sans-serif; */

header, .project:not(:last-child) {
  border-bottom: 1px solid #ccc;
}

* {  
  box-sizing: border-box;
  margin: 0;
  max-width: 100%;
  font-family: 'Montserrat', sans-serif;
}

body {
  background-color: #F0F2F4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.invalid-auth {
  color: darkred;
}

#login-container {
  height: 50vh;
  width: 20vw;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: .5em;
  margin: 1em;
  background-color: white;
}

.login-header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 2.5rem;
  border-radius: 20px;
  background-color: inherit;
}

.login-header h1 {
  font-size: 2.75rem;
  margin: .25em;
  background-color: inherit;
}

.login-header p {
  font-size: 1rem;
  background-color: inherit;
}

#login-form {
  display: inherit;
  flex-direction: inherit;
  background-color: inherit;
}

.form-group {
  margin: .5em;
  display: inherit;
  flex-direction: inherit;
  background-color: inherit;
  font-weight: bolder;
}

.form-group label {
  background-color: inherit;
}

.form-group input {
  height: 4vh;
  width: 20vw;
  border: .1px solid rgb(180, 180, 180);
  border-radius: 5px;
  padding: 0 1em 0 1em;
  background-color: inherit;
}

.form-group button {
  height: 5vh;
  border: .1px solid rgb(180, 180, 180);
  background-color: black;
  border-radius: 5px;
  color: white;
}

#signup-container {
  height: fit-content;
  width: 22vw;
  background-color: white;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 1em;
  margin: 1em;
  align-self: center;
}

#signup-form {
  display: inherit;
  flex-direction: inherit;
  background-color: white;
}

/* Home Page */
.home-container {
  height: 100vh;
}

.home-container h1 {
  text-align: center;
  margin: 1em;
}

.btn {
  box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
	background-color:#ffffff;
	border-radius:12px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:black;
	font-family: 'Montserrat', sans-serif;
	font-size:24px;
	font-weight:bold;
	padding:10px 38px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}

.hero-image-container {
  height: 50%;
  position:relative;
  width: 100%;
}

.hero-image {
  height: 100%;
  object-fit: contain;
  width: 100%;
}

.category-container {
  display: flex;
  gap: 5px;
  height: fit-content;
  justify-content: center;
  justify-items: center;
  padding: 5px;
}

/*NAVBAR*/
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 3em;
  width: 100vw;
}

.nav-header {
  font-size: 3rem;
}

.search-box {
  width: 500px;
	height: 50px;
	background-color: #F0F2F4;
	border-radius: 30px;
	display: flex;
	align-items: center;
	padding: 20px;
  margin: .5em;
}

.nav-icons {
  font-size: .825em;
}

.search-box i {
  font-size: 20px;
	color: black;
  background-color: white;
  margin-right: .5em;
}

.search-box input {
  background-color: white;
  flex: 1;
	height: 40px;
	border: none;
	outline: none;
	font-size: 18px;
	padding-left: 10px;
}

.nav-options {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-options a, button {
  margin-left: 1em;
  margin-right: 1em;
  text-decoration: none;
  color: black;
  font-weight: 600;
  font-size: 1.5rem;
}

#logout-btn {
  border: none;
  font-family: inherit;
  cursor: pointer;
}

/* Single Product Page */
.product-page-container {
  align-items: center;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
}

.product-page-item {
  display: flex;
  gap: 3rem;
  padding: 1rem 5rem 3rem;
}

.product-image {
  height: 30rem;
  background-color: white;
  padding: 1.5rem;
}

.product-image-container {
  background-color: white;
  box-shadow: 0 0 1px rgb(48 48 48 / 54%);
}

.product-details {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  max-width: 40rem;
  min-height: 100%;
  padding: 0 1rem;
  width: fit-content;
}

.product-details h2 {
  font-size: 2rem;
}

/* creates line seperating title and details */
.product-details hr {
  width: 100%;
}

hr {
  border-bottom: 0;
  margin-bottom: 0;
  margin-top: 0;
}

.product-details p {
  display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-size: 1.5rem;
    line-height: 1.5rem;
}

.product-details b {
  color: #cc4100;
  font-size: larger;
}

#cart-btn-container {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.cart-btn {
  border-radius: 10px;
  box-shadow: 0px 1px 3px #666666 ;
  color: white;
  font-size: 24px;
  background: black;
  padding: 20px 40px 20px 40px;
  text-decoration: none;
  cursor: pointer;
}

.add-cart-svg {
  background-color: black;
}

/* categories page */
.categories-page-title {
  font-size: 2rem;
  margin: 1em;
}

.categories-page-container {
  display: flex;
  flex-wrap: wrap;
  gap: 3.5rem;
  /* flex-direction: row; */
  justify-content: space-evenly;
  height: 75vh;
}


.products-card-list {
  display: flex;
  place-content: flex-start;
  flex-wrap: wrap;
  gap: 3rem;
  justify-content: space-evenly;
  justify-items: center;
  width: 100%;
  
}

/* hover effect over card */
.product-card a {
  transition: .5s ease-in-out;
}

.product-card a:hover {
  box-shadow: 0 0 20px 5px black;
  transition: .5s ease-in-out;
  cursor: pointer;
}

.product-card {
  height: 20rem;
  width: 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 0 5px rgb(48 48 48 / 54%) ;
}

.product-card img {
  height: 20rem;
  background-color: white;
  padding: 1.5rem;
}

.product-title h4 {
  font-size: 1rem;
}

.card-price {
  display: flex;
}

.card-product-details {
  color: black;
  box-shadow: 0 0 5px rgb(48 48 48 / 54%);
  width: 100%;
  padding: 1rem;
  background-color: white;
  display: flex;
  align-items: center;
  gap: 1rem;
}

/* cart */
#cart-container {
  display: flex;
  flex-direction: column;
  padding: .5em;
  width: 70vw;
  min-width: fit-content;
}

.cart-item {
  display: flex;
  flex-direction: row;
  margin: .5em;
  justify-content: left;
  align-items: center;
  text-decoration: none;
  color: black;
}

.cart-item-image {
  width: 250px;
  height: 250px;
  border-radius: 7px;
  background-color: black;
  margin-right: 2em;
}

.cart-item-desc {
  display: flex;
  flex-direction: column;
  padding: 1em;
  max-width: 25vw;
}

.cart-item-options {
  display: flex;
  align-items: left;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: left;
}

.cart-item-options button {
  border: 1px solid black;
  color: white;
  background: black;
  border-radius: 10px;
  margin: .25em;
  padding: .4em;
  font-size: 1rem;
}

.cart-item-options button:hover {
  color: white;
  border: 1px solid darkgreen;
  background-color: darkgreen;
  cursor: pointer;
}

#cart-item-delete:hover {
  color: white;
  border: 1px solid darkred;
  background-color: darkred;
  cursor: pointer;
}

/* footer */

#footer {
  /* flex-wrap: wrap; */
  margin-top: auto;
  position:relative;
  bottom: 0;
 }
