/* Lexend imported font */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
/* font-family: 'Montserrat', sans-serif; */

header, .project:not(:last-child) {
  border-bottom: 1px solid #ccc;
}

* {  
  box-sizing: border-box;
  margin: 0;
  max-width: 100%;
  font-family: 'Montserrat', sans-serif;
}

html, body {
  height: 100%;
}

body {
  background-color: #F0F2F4;
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
}

.page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* height: 75vh; */
}

.page-container h1 {
  padding: 1rem;
  font-size: 40px;
  font-weight: 600;
}

.invalid-auth {
  color: darkred;
}

.login-page-container, .sign-up-container {
  padding-bottom: 13vh;
}

#login-container {
  height: 50vh;
  width: 20vw;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: .5em ;
  margin: 1em;
  background-color: white;
}

.login-header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 2.5rem;
  border-radius: 20px;
  background-color: inherit;
}

.login-header h1 {
  font-size: 2.75rem;
  margin: .25em;
  background-color: inherit;
}

.login-header p {
  font-size: 1rem;
  background-color: inherit;
}

#login-form {
  display: inherit;
  flex-direction: inherit;
  background-color: inherit;
}

.form-group {
  margin: .5em;
  display: inherit;
  flex-direction: inherit;
  background-color: inherit;
  font-weight: bolder;
}

.form-group label {
  background-color: inherit;
}

.form-group input {
  height: 4vh;
  width: 20vw;
  border: .1px solid rgb(180, 180, 180);
  border-radius: 5px;
  padding: 0 1em 0 1em;
  background-color: inherit;
}

.form-group button {
  height: 5vh;
  border: .1px solid rgb(180, 180, 180);
  background-color: black;
  border-radius: 5px;
  color: white;
}

#signup-container {
  height: fit-content;
  width: 22vw;
  background-color: white;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 1em;
  margin: 1em;
  align-self: center;
}

#signup-form {
  display: inherit;
  flex-direction: inherit;
  background-color: white;
}

/* Home Page */
.home-container {
  height: 100vh;
  padding-bottom: 45vh;
}

.home-container h1 {
  text-align: center;
  margin: 1em;
}

.btn {
  box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
	background-color:#ffffff;
	border-radius:12px;
	border: 1px solid rgb(180 180 180);
	display:flex;
  justify-content: center;
  align-items: center;
  font-size: 1.1rem;
  height: 5rem;
  width: 15rem;
	cursor:pointer;
	color:black;
	font-family: 'Montserrat', sans-serif;
	font-weight:bold;
	padding:10px 38px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}

/* Hover effect for buttons */
#hvr-grow-shadow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform;
}
#hvr-grow-shadow:hover, #hvr-grow-shadow:focus, #hvr-grow-shadow:active {
  box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.hero-image-container {
  height: 50%;
  position:relative;
  width: 100%;
}

.hero-image {
  height: 100%;
  object-fit: contain;
  width: 100%;
}

.category-container {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 5rem;
  height: fit-content;
  padding: 1rem;
}

/*NAVBAR*/
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 3em 3em 3em;
  width: 100vw;
}

.nav-header {
  font-size: 3rem;
}

.search-box {
  width: 45vh;
	/* height: 50px; */
	background-color: #F0F2F4;
	/* border-radius: 30px; */
	display: flex;
	align-items: center;
	/* padding: 20px; */
  /* margin-left: 20vh; */
  /* margin: .5em; */
}

.search-box img {
  padding: 5px;
} 

.nav-icons {
  font-size: .825em;
}

.search-box i {
  font-size: 20px;
	color: black;
  background-color: white;
  margin-right: .5em;
}

.search-box input {
  background-color: white;
  flex: 1;
	height: 40px;
	border: none;
	outline: none;
	font-size: 18px;
	padding-left: 10px;
}

.nav-options {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-options a, button {
  margin-left: 1em;
  margin-right: 1em;
  text-decoration: none;
  color: black;
  font-weight: 600;
  font-size: 1.5rem;
}

#logo-img {
  position: relative;
  border: 0;
  margin-left: 5vh;
  margin-top: -5vh;
  height: 15vh;
  width: 20vh;
}

#logout-btn {
  border: none;
  font-family: inherit;
  cursor: pointer;
}

#cart-btn {
  position: relative;
  outline: none;
  border: none;
  margin: 0;
  border: 0;
  padding: 0;
}

#cart-btn::before {
  content: attr(data-cart-count);
  font-size: 15px;
  position: absolute;
  top: -0.45em;
  right: .75em;
  width: 1.15em;
  height: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: red;
  color: white;

}

/* START NAV BAR Icon Animations */
@-webkit-keyframes hvr-icon-up {
  0%,
	50%,
	100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  25%,
	75% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }
}
@keyframes hvr-icon-up {
  0%,
	50%,
	100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  25%,
	75% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }
}

/* Icon Float Away */
@-webkit-keyframes hvr-icon-float-away {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(-1em);
    transform: translateY(-1em);
  }
}
@keyframes hvr-icon-float-away {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(-1em);
    transform: translateY(-1em);
  }
}
/* Icon Float */
.hvr-icon-float {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-icon-float .hvr-icon {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-icon-float:hover .hvr-icon, .hvr-icon-float:focus .hvr-icon, .hvr-icon-float:active .hvr-icon {
  -webkit-transform: translateY(-4px);
  transform: translateY(-4px);
}

.hvr-icon-up {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.hvr-icon-up .hvr-icon {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}
.hvr-icon-up:hover .hvr-icon, .hvr-icon-up:focus .hvr-icon, .hvr-icon-up:active .hvr-icon {
  -webkit-animation-name: hvr-icon-up;
  animation-name: hvr-icon-up;
  -webkit-animation-duration: 0.75s;
  animation-duration: 0.75s;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
}
/* END NAV BAR Icon Animations */

/* Single Product Page */
.product-page-container {
  align-items: center;
  display: flex;
  justify-content: center;
  min-height: 85vh;
  width: 100%;
}

.product-page-item {
  display: flex;
  gap: 3rem;
  padding: 3rem 10rem 3rem;
}

.product-image {
  height: 30rem;
  background-color: white;
  padding: 1.5rem;
}

/* .product-image-container {
  background-color: white;
  box-shadow: 0 0 1px rgb(48 48 48 / 54%);
} */

.product-details {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  max-width: 40rem;
  min-height: 100%;
  padding: 0 1rem;
  width: fit-content;
}

.product-details h2 {
  font-size: 2rem;
}

/* creates line seperating title and details */
.product-details hr {
  width: 100%;
}

hr {
  border-bottom: 0;
  margin-bottom: 0;
  margin-top: 0;
}

.product-details p {
  display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-size: 1.5rem;
    line-height: 1.5rem;
}

.product-details b {
  color: #cc4100;
}

#cart-btn-container {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.cart-btn {
  border-radius: 10px;
  box-shadow: 0px 1px 3px #666666 ;
  color: white;
  font-size: 24px;
  background: black;
  padding: 20px 40px 20px 40px;
  text-decoration: none;
  cursor: pointer;
}

.add-cart-svg {
  background-color: black;
}

/* categories page */
.categories-page-title {
  font-size: 2rem;
  margin: 1em;
}

.categories-page-container {
  display: flex;
  flex-wrap: wrap;
  gap: 3.5rem;
  /* flex-direction: row; */
  justify-content: space-evenly;
  height: 75vh;
}


.products-card-list {
  display: flex;
  place-content: flex-start;
  flex-wrap: wrap;
  gap: 3rem;
  justify-content: space-evenly;
  justify-items: center;
  width: 100%;
  
}

/* hover effect over card */
.product-card a {
  transition: .5s ease-in-out;
}

.product-card a:hover {
  box-shadow: 0 0 20px 5px black;
  transition: .5s ease-in-out;
  cursor: pointer;
}

.product-card {
  height: 20rem;
  width: 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 0 5px rgb(48 48 48 / 54%) ;
}

.product-card img {
  height: 20rem;
  background-color: white;
  padding: 1.5rem;
}

.product-title h4 {
  font-size: 1rem;
}

.card-price {
  display: flex;
}

.card-product-details {
  color: black;
  box-shadow: 0 0 5px rgb(48 48 48 / 54%);
  width: 100%;
  padding: 1rem;
  background-color: white;
  display: flex;
  align-items: center;
  gap: 1rem;
}

/* cart */
#cart-container {
  display: flex;
  flex-direction: column;
  padding: .5em;
  width: 70vw;
  min-width: fit-content;
}

.cart-item {
  display: flex;
  flex-direction: row;
  margin: .5em;
  justify-content: left;
  align-items: center;
  text-decoration: none;
  color: black;
}

.cart-item a {
  display: flex;
  flex-direction: row;
  margin: .5em;
  justify-content: left;
  align-items: center;
  text-decoration: none;
  color: black;
}

.cart-item-image {
  width: 250px;
  height: 250px;
  border-radius: 7px;
  background-color: black;
  margin-right: 2em;
}

.cart-item-desc {
  display: flex;
  flex-direction: column;
  padding: 1em;
  max-width: 25vw;
}

.cart-item-options {
  display: flex;
  align-items: left;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: left;
}

.cart-item-options button,
#cart-checkout button {
  border: 1px solid black;
  color: white;
  background: black;
  border-radius: 10px;
  margin: .25em;
  padding: .4em;
  font-size: 1rem;
}

.cart-item-options button:hover,
#cart-checkout button:hover {
  color: white;
  border: 1px solid darkgreen;
  background-color: darkgreen;
  cursor: pointer;
}

#cart-item-delete:hover {
  color: white;
  border: 1px solid darkred;
  background-color: darkred;
  cursor: pointer;
}

#cart-checkout {
  display: flex;
  flex-direction: row;
  padding: .5em;
  justify-content: right;
  align-items: center;
}

#cart-checkout p {
  margin-right: .3em;
  padding: .25em;
}

/* Search Results Page */

.searchResults-page-container {
  align-items: center;
  display: flex;
  width: 70%;
}

.search-results-card {
  display: flex;
  flex-direction: column;
  border-radius: .5rem;
  align-items: center;
}

.sr-item-container a:hover .view-details {
  transform: scale(1);
  transition: all .5s;
  background-color: black;
  border: none;
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
  width: 100%;
}

.view-details {
  transform: scale(0);
  transition: all .5s;
  background-color: black;
  border: none;
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
  width: 100%;
}

.sr-list {
  display: flex;
  flex-direction: column;
  width: 100%;

}

.sr-item-container {
  padding: 1.5rem;
}

.sr-item-container a {
  display: flex;
  gap:2rem;

}

.sr-img-container {
  background-color: white;
  width: 25rem;
}

.sr-item-container img {
  padding: 1.5rem;
  width: 100%;
  height: 22rem;
}

.sr-item-details {
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 30rem;
}

/* footer */

.footer-container {
  background-color: black;
  color: white;
  /* bottom: -40vmax; */
  width: 100%;
  height: 332px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.footer-top {
  align-items: flex-start;
  display: grid;
  grid-template-columns: auto auto auto;
  padding-top: 2rem;
  gap: 12rem;
}

.footer-list {
  list-style: none;
}

.footer-list li {
  padding: .5rem;
}

ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px
}

.footer-bottom {
  padding: 2rem;
}

.add-to-cart {
  --color: #fff;
  --icon: var(--color);
  --cart: #fff;
  --dots: #fff;
  --background: #000;
  --shadow: rgba(0, 9, 61, 0.16);
  cursor: pointer;
  position: relative;
  outline: none;
  border: none;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
  font-size: 16px;
  border-radius: 22px;
  padding: 12px 32px;
  font-weight: 500;
  line-height: 20px;
  transform: scale(var(--s, 0.97));
  box-shadow: 0 var(--s-y, 4px) var(--s-b, 12px) var(--shadow);
  color: var(--color);
  background: var(--background);
  transition: transform 0.3s, box-shadow 0.3s;
}
.add-to-cart .default {
  padding-left: 16px;
  position: relative;
  opacity: var(--o, 1);
  transform: scale(var(--s, 1));
  transition: transform 0.3s, opacity 0.3s;
  transition-delay: var(--d, 0.3s);
}
.add-to-cart .default:before, .add-to-cart .default:after {
  content: '';
  width: 2px;
  height: 12px;
  left: 0;
  top: 4px;
  border-radius: 1px;
  background: var(--icon);
  position: absolute;
  transform: rotate(var(--r, 0deg));
  transition: transform 0.25s;
}
.add-to-cart .default:after {
  --r: 90deg;
}
.add-to-cart .success {
  opacity: var(--o, 0);
  transform: translate(-50%, var(--y, 12px));
  position: absolute;
  top: 12px;
  left: 50%;
  transition: opacity 0.3s, transform 0.3s;
  transition-delay: var(--d, 0s);
}
.add-to-cart .dots {
  width: 4px;
  height: 4px;
  top: 20px;
  left: 50%;
  margin-left: -7px;
  border-radius: 2px;
  position: absolute;
  transform-origin: 10px 50%;
  background: var(--dots);
  box-shadow: 5px 0 0 var(--dots), 10px 0 0 var(--dots);
  opacity: var(--o, 0);
  transform: scale(var(--s, 0.4));
  transition: opacity 0.3s, transform 0.3s;
  transition-delay: var(--d, 0s);
}
.add-to-cart .cart {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  border-radius: inherit;
  overflow: hidden;
  -webkit-mask-image: -webkit-radial-gradient(white, black);
}
.add-to-cart .cart:before {
  content: '';
  position: absolute;
  width: 20px;
  height: 16px;
  background: var(--background);
  top: 17px;
  right: 100%;
  z-index: 1;
  margin-right: -20px;
  transform: translateX(-18px) rotate(-16deg);
}
.add-to-cart .cart > div {
  top: 13px;
  right: 100%;
  transform: translateX(-18px) rotate(-16deg);
  position: absolute;
  z-index: 2;
  transform-origin: 1px 21px;
}
.add-to-cart .cart > div:before, .add-to-cart .cart > div:after {
  content: '';
  position: absolute;
  top: var(--t, 4px);
  left: var(--l, 0);
  height: 2px;
  width: var(--w, 18px);
  background: var(--cart);
  border-radius: 1px;
}
.add-to-cart .cart > div:after {
  --w: 16px;
  --t: 14px;
  --l: 1px;
}
.add-to-cart .cart > div > div {
  width: 2px;
  height: var(--h, 15px);
  border-radius: 1px;
  transform: rotate(var(--r, -8deg));
  background: var(--cart);
  position: relative;
}
.add-to-cart .cart > div > div:before, .add-to-cart .cart > div > div:after {
  content: '';
  position: absolute;
  background: inherit;
}
.add-to-cart .cart > div > div:after {
  width: 4px;
  height: 4px;
  border-radius: 2px;
  bottom: var(--b, -6px);
  left: var(--l, 0);
}
.add-to-cart .cart > div > div:first-child:before {
  border-radius: inherit;
  top: 0;
  right: 0;
  height: 2px;
  width: 6px;
  transform-origin: 5px 1px;
  transform: rotate(16deg);
}
.add-to-cart .cart > div > div:last-child {
  --h: 12px;
  --r: 8deg;
  position: absolute;
  left: 16px;
  bottom: -1px;
}
.add-to-cart .cart > div > div:last-child:after {
  --l: -2px;
  --b: -5px;
}
.add-to-cart.added .default {
  --o: 0;
  --s: 0.8;
  --d: 0s;
}
.add-to-cart.added .default:before {
  --r: -180deg;
}
.add-to-cart.added .default:after {
  --r: -90deg;
}
.add-to-cart.added .dots {
  --o: 1;
  --s: 1;
  --d: 0.3s;
  animation: dots 2s linear forwards;
}
.add-to-cart.added .success {
  --o: 1;
  --y: 0;
  --d: 1.8s;
}
.add-to-cart.added .cart:before, .add-to-cart.added .cart > div {
  animation: cart 2s forwards;
}
.add-to-cart:not(.added):hover {
  --s: 1;
  --s-y: 8px;
  --s-b: 20px;
}
.add-to-cart:not(.added):active {
  --s: 0.94;
  --s-y: 2px;
  --s-b: 6px;
}
@keyframes cart {
  41%, 49%, 57%, 60% {
    transform: translateX(72px) rotate(0deg);
  }
  40%, 47%, 54% {
    transform: translateX(72px) rotate(0deg) translateY(1px);
  }
  100% {
    transform: translateX(180px) rotate(-16deg);
  }
}
@keyframes dots {
  5% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-20px) rotate(-32deg);
    box-shadow: 5px 0 0 var(--dots), 10px 0 0 var(--dots);
  }
  31% {
    box-shadow: 5px -4px 0 var(--dots), 10px -8px 0 var(--dots);
  }
  32%, 50% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
  }
  45%, 100% {
    box-shadow: 5px 0 0 var(--dots), 10px 0 0 var(--dots);
  }
  51%, 100% {
    opacity: 0;
  }
}